.button__primary-button {
  background-color: var(--hospital-green);
  font-size: var(--md);
  border: none;
  border-radius: 8px;
  color: var(--white);
  height: 45px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.button__secondary-button {
  background-color: var(--white);
  font-size: var(--md);
  border: solid var(--hospital-green) 1px;
  border-radius: 8px;
  color: var(--hospital-green);
  height: 45px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.button__nav-button {
  background-color: var(--white);
  font-size: var(--lg);
  color: var(--very-light-pink);
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}
