body {
  margin: 0 20px;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

.home1 {
  width: 100%;
  height: auto;
  min-height: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px auto;
  place-items: start center;
}

.home1-container {
  width: 100%;
  height: auto;
  padding: 45px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 70px;
  /* grid-template-rows: repeat(auto-fit, 240px); */
}

.home1-container__cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-auto-rows: 320px;
  /* grid-template-rows: repeat(auto-fit, 240px); */
  column-gap: 24px;
  row-gap: 24px;
  justify-content: space-between;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-rows: auto 60px;
  row-gap: 15px;
}

.card-container__img-container {
  overflow: hidden;
  border-radius: 16px;
}

.product-img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.card-container__info-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
}

.card-container__price-name {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.card-container__price {
  min-height: 100%;
  display: grid;
  place-items: end start;
}

.product-price {
  font-size: var(--sm);
  color: var(--black);
  font-weight: 500;
}

.card-container__name {
  min-height: 100%;
  display: grid;
  place-items: start start;
}

.product-name {
  font-size: var(--sm);
  color: var(--very-light-pink);
  font-weight: 400;
}

.card-container__shopping-cart {
  display: grid;
  place-items: center end;
}

.add-to-cart-img {
  height: var(--cart-icon-size-lg);
}

@media (max-width: 290px) {
}
@media (min-width: 291px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .home1-container__cards {
    grid-template-columns: repeat(auto-fit, 160px);
    grid-auto-rows: 236px;
    column-gap: 4px;
    row-gap: 24px;
  }
  .card-container__price-name {
    display: grid;
    grid-template-rows: 20px 1fr;
  }
  .card-container__shopping-cart {
    display: grid;
    place-items: start end;
  }
  .add-to-cart-img {
    width: var(--cart-icon-size-md);
    height: auto;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .button__primary-button {
    margin-top: 42px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1074px) {
  /* hi-res laptops and desktops */
}
