.global-nav {
  margin-top: 20px;
  width: 100%;
  display: none;
}

.global-nav {
  background-color: white;

  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  justify-content: space-between;
  grid-template-columns: 50px 1fr 50px;
  /* grid-template-rows: 250px; */
  grid-template-rows: 50px;

  position: sticky;
  top: 0;
  align-self: start;
}

.global-nav__page-left-logo {
  display: none;
}

.global-nav__page-logo img {
  height: var(--logo);
}

.global-nav__elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.global-nav__elements label {
  display: grid;
  place-items: center;
  margin: 0;
}

#menu-control {
  display: none;
}

.global-nav__elements ol {
  width: 100%;
  display: flex;
  padding: 0 0 0 0;
  list-style: none;
}

.global-nav__elements li {
  display: none;
  padding: 0 20px 0 0;
}

.global-nav__account-shopping-cart {
  width: 100%;
  display: grid;
  align-items: end;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.name-container {
  height: 55px;
  display: none;
}

.name {
  height: 20px;
  font-size: var(--md);
  color: var(--dark);
  align-self: end;
  position: relative;
  top: 16px;
  z-index: 2;
}

.options-container {
  display: none;
  position: relative;
  top: 20px;
  left: 38px;
  width: 150px;
  background-color: var(--white);
  z-index: 1;
  border-radius: 8px;
  box-shadow: 3px 3px 10px var(--very-light-pink);
}

.options {
  padding: 20px 10px 0 0;
  list-style: none;
}

.my_orders__button {
  color: var(--black);
}

.my_account__button {
  margin-top: 10px;
  color: var(--black);
}

.global-nav__account-shopping-cart a {
  display: flex;
  flex-direction: row-reverse;
  place-self: center;
}

.home1__button {
  color: var(--hospital-green);
  margin-top: 40px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .global-nav {
    grid-template-columns: 200px 1fr 250px;
  }
  .global-nav__page-left-logo {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .global-nav__page-central-logo {
    display: none;
  }
  #menu-control:checked ~ ol {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 92px;
    left: 20px;
  }
  #menu-control:checked ~ ol > li {
    display: block;
    padding-bottom: 10px;
  }
  .global-nav__elements li:hover a {
    color: var(--hospital-green);
  }
  /* ::-webkit-scrollbar {
    display: none;
  } */
  .name-container {
    display: flex;
    flex-direction: column;
  }
  .name-container:hover .options-container {
    display: block;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .global-nav {
    grid-template-columns: 200px 1fr 250px;
  }
  .global-nav__elements {
    display: flex;
  }
  .global-nav__elements label {
    display: none;
  }
  #menu-control:checked ~ ol > li {
    display: flex;
    padding: 0 20px 0 0;
  }
  #menu-control:checked ~ ol {
    flex-direction: row;
    position: static;
  }
  .global-nav__elements li {
    display: block;
    padding: 0 20px 0 0;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
