.global-nav {
  background-color: white;
  margin-top: 20px;
  width: 100%;

  display: grid;
  place-items: center;
  place-content: center;
  justify-content: space-between;

  grid-template-columns: 50px 1fr 50px;
  /* grid-template-rows: 250px; */
  grid-template-rows: 50px;

  position: sticky;
  top: 0;
  align-self: start;
}

.global-nav__page-left-logo {
  display: none;
}

.global-nav__page-logo img {
  height: var(--logo);
}

.global-nav__elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* .global-nav__elements label {
  display: grid;
  place-items: center;
  margin: 0;
} */

.menu-control__img {
  display: grid;
  place-items: center;
  margin: 0;
}

#menu-control {
  display: none;
}

.global-nav__buttons {
  width: 100%;
  display: flex;
  padding: 0 0 0 0;
  list-style: none;
}

.global-nav__buttons li {
  display: none;
  padding: 0 20px 0 0;
}

.global-nav__account-shopping-cart {
  width: 100%;
  display: grid;
  align-items: end;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.name-options {
  height: 50px;
  display: none;
}

.name-container {
  height: 50px;
  font-size: var(--md);
  color: var(--dark);
  display: flex;
  /* align-self: end; */
  /* position: relative; */
  /* top: 16px; */
  /* z-index: 2; */
  align-items: center;
}

.name {
  margin: 0;
}

.options-container {
  display: none;
  /* position: relative; */
  /* top: 20px; */
  /* left: 38px; */
  /* width: 150px; */
  background-color: var(--white);
  /* z-index: 1; */
  border-radius: 8px;
  box-shadow: 3px 3px 10px var(--very-light-pink);
}

.options {
  margin: 0;
  padding: 20px 10px 20px 0;
  list-style: none;
}

.options li {
  padding: 10px;
}

.options li a {
  font-size: var(--md);
}

.my-orders-option__button {
  color: var(--black);
}

.my-account-option__button {
  margin-top: 10px;
  color: var(--black);
}

.global-nav__account-shopping-cart a {
  display: flex;
  flex-direction: row-reverse;
  place-self: center;
}

.global-shopping__button {
  color: var(--hospital-green);
}

.action__button {
  color: var(--hospital-green);
  margin-top: 40px;
}

.phone-view {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: white;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.phone-view__container {
  width: 260px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.phone-global-nav__elements {
  display: grid;
  grid-template-rows: 1fr 0.8fr;
} 

.phone-global__title {
  margin: 0;
  font-size: var(--lg);
  align-self: center;
  padding: 0 0 0 50px;
}

.phone-global-nav__buttons {
  width: 180px;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-content: start end;
  padding: 0 0 0 50px;
  list-style: none;
}

.phone-global-nav__buttons li {
  display: none;
  width: 180px;
  padding: 0 0 30px 0;
}

.phone-global-nav__buttons li:nth-child(6) {
  display: none;
  padding: 0 0 80px 0;
}

.phone-global-nav__buttons li a {
  font-size: var(--md);
}

.phone-name-options {
  display: grid;
  place-content: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.phone-options-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-content: end start;
  /* position: relative; */
  /* top: 20px; */
  /* left: 38px; */
  /* width: 150px; */
  background-color: var(--white);
  /* z-index: 1; */
}

.phone-options {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  list-style: none;
}

.phone-options li {
  padding: 30px 0 0 50px;
}

.phone-options li:nth-child(1) {
  padding: 80px 0 0 50px;
}

.phone-options li:nth-child(3) {
  place-self: end start;
}

.phone-options li:nth-child(4) {
  padding: 5px 0 20px 50px;
  place-self: end start;
}

.phone-options li a {
  font-size: var(--md);
  font-weight: 700;

}

.menu-control__img {
  z-index: 6;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 720px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  #menu-control:checked ~ div {
    display: grid;
  }
  #menu-control:checked ~ div ol > li {
    display: block;
  }
}
@media (min-width: 721px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .global-nav {
    grid-template-columns: 200px 1fr 250px;
  }
  .global-nav__page-left-logo {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .global-nav__page-central-logo {
    display: none;
  }
  #menu-control:checked ~ ol {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 106px;
    left: 20px;
  }
  #menu-control:checked ~ ol > li {
    display: block;
    padding-bottom: 10px;
  }
  .phone-view {
    display: none;
  }
  .global-nav__elements li:hover a {
    color: var(--hospital-green);
  }
  /* ::-webkit-scrollbar {
    display: none;
  } */
  .name-options {
    display: grid;
    grid-template-rows: 50px auto;
  }
  .global-name-options:hover .options-container {
    display: block;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1070px) {
  /* big landscape tablets, laptops, and desktops */
  .global-nav {
    grid-template-columns: 200px 1fr 250px;
  }
  .global-nav__elements {
    display: flex;
  }
  .global-nav__elements label {
    display: none;
  }
  #menu-control:checked ~ ol > li {
    display: flex;
    padding: 0 20px 0 0;
  }
  #menu-control:checked ~ ol {
    flex-direction: row;
    position: static;
  }
  .global-nav__elements li {
    display: block;
    padding: 0 20px 0 0;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
